.modalBackground {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.modal {
  width: 100%;
  height: 100%;
  background: white;

  padding-top: var(--font-size4);
  padding-left: var(--font-size4);
  padding-right: var(--font-size4);
}
.modalHeader {
  display: flex;
  justify-content: space-between;
}

.modalHeaderLeft {
  cursor: pointer;
  padding: 5px 10px;
}
.modalHeaderLeft:hover {
  background-color: var(--gray-color);
}

.modalHeaderCenter {
  color: var(--primary-color);
  font-size: var(--font-size2);
}

@media (min-width: 768px) {
  .modal {
    width: 75%;
    height: 60%;
    border-radius: 2rem;
  }
}
