footer {
  height: 3.5rem;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 0;
  bottom: 0;
  background: var(--primary-color);
}

.buttons {
  font-size: var(--font-size6);
  font-weight: bold;
  height: 65%;
  width: 45%;
  border: 1px solid var(--color-gray2);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.loginButton {
  color: white;
  background: var(--primary-color);
}
.loginButton:hover {
  background: var(--primary-color2);
}

.registerButton {
  color: black;
  background: var(--color-gray2);
}
.registerButton:hover {
  background: var(--color-gray4);
  border-color: var(--color-gray4);
}
