header {
  font-size: var(--font-size1);
  height: 100%;
}

ul.headerList {
  margin: 0;
  padding: 0;
}

ul.headerList li {
  list-style: none;
  margin: var(--font-size8);
  padding: 5px 10px;
  border-radius: 100%;
}

ul.headerList li:hover {
  background: var(--gray-color);
}

ul.headerList li.brandIcon {
  color: var(--primary-color);
}

header ul li.brandIcon:hover {
  background: var(--primary-light-color);
}

header ul li i {
  font-size: var(--font-size2);
}
